[Unit]
Description=apply configs to k8s

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 10
ExecStart=bash -c 'kubectl apply -f /etc/kubernetes/config/rbac-role.yaml && kubectl apply -f /etc/kubernetes/config/rbac-binding.yaml'

[Install]
WantedBy=multi-user.target