[Unit]
Description=apply configs to k8s

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 10
# what if not /bin/bash but /usr/bin/bash?
ExecStart=/bin/bash -c '     -f /etc/kubernetes/config/rbac-role.yaml && kubectl apply --kubeconfig /var/lib/kubernetes/admin.kubeconfig -f /etc/kubernetes/config/rbac-binding.yaml'

[Install]
WantedBy=multi-user.target