{% set protocol = 'https' if is_cluster_secure|default(True)|bool else 'http' %}
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes


# --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota
[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{inventory_hostname}} \
  --allow-privileged=true \
  --apiserver-count={{ groups[cluster_group_name | default('cluster')] | default(ansible_play_batch) | length }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/var/lib/kubernetes/ca.pem \
  --enable-swagger-ui=true \
{% if is_cluster_secure|default(True)|bool %}
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --etcd-certfile=/var/lib/kubernetes/kubernetes.pem \
  --etcd-keyfile=/var/lib/kubernetes/kubernetes-key.pem \
{% endif %}
  --etcd-servers={% for host in groups[etcd_group_name | default('etcd-nodes')] | default(ansible_play_batch) -%}
  {% if 'name' in hostvars[host] -%}
    {{protocol}}://{{host}}:2380{% if not loop.last %},{% endif %}
  {%- endif %}
{%- endfor %} \
  --event-ttl=1h \
  --experimental-encryption-provider-config=/var/lib/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority=/var/lib/kubernetes/ca.pem \
  --kubelet-client-certificate=/var/lib/kubernetes/kubernetes.pem \
  --kubelet-client-key=/var/lib/kubernetes/kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=/var/lib/kubernetes/service-account.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/kubernetes.pem \
  --tls-private-key-file=/var/lib/kubernetes/kubernetes-key.pem \
  --v=99
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target