kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: '{{99999999999999999999999999999999|random|b64encode}}'
      - identity: {}