[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name={{k8s_cluster_name|default(cluster_name)|default("k8s-cluster")}} \
  --cluster-signing-cert-file=/etc/k8s/cert/kube-controller-manager/cert.pem \
  --cluster-signing-key-file=/etc/k8s/cert/kube-controller-manager/cert-key.pem \
  --kubeconfig=/etc/k8s/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/etc/k8s/cert/ca/cert.pem \
  --service-account-private-key-file=/etc/k8s/cert/service-account/cert-key.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target