# config file for /opt/bin/kube-scheduler to run with
apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "/etc/k8s/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: true