version = 2
[plugins]
  [plugins."io.containerd.grpc.v1.cri".containerd]
    snapshotter = "overlayfs"
    [plugins."io.containerd.grpc.v1.cri".containerd.default_runtime]
      runtime_type = "io.containerd.runtime.v1.linux"
      runtime_engine = "/usr/sbin/runc"
      runtime_root = ""

  [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."local-registry"]
      endpoint = ["http://127.0.0.1:5000"]
    [plugins."io.containerd.grpc.v1.cri".registry.configs."local-registry".tls]
      insecure_skip_verify = true
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
      endpoint = ["https://registry-1.docker.io"]
  [plugins."io.containerd.grpc.v1.cri".registry.auths]
    [plugins."io.containerd.grpc.v1.cri".registry.auths."http://127.0.0.1:5000"]
      username = ""
      password = ""
      auth = ""
      identitytoken = ""