# https://github.com/etcd-io/etcd/blob/master/etcd.conf.yml.sample
{% set protocol = 'https' if is_cluster_secure|default(True)|bool else 'http' %}

data-dir: /opt/lib/etcd



name: {{etcd_node_name | default("etcd-" + (1+ansible_play_batch.index(inventory_hostname))|string) | mandatory}}
initial-cluster-token: 'etcd-cluster'
initial-cluster-state: {{initial_cluster_state|default('new')}}

# todo: something weird here
initial-cluster: {% for host in ansible_play_hosts -%}
  {{hostvars[host].etcd_node_name|mandatory}}={{protocol}}://{{hostvars[host].internal_hostname|default(host)}}:2380{% if not loop.last %},{% endif %}
{%- endfor %}

initial-advertise-peer-urls: {{protocol}}://{{internal_hostname|default(inventory_hostname)}}:2380

# todo listen only internal_ip_address if defined otherwise all for sure
listen-peer-urls: {% for ip in ansible_all_ipv4_addresses -%}
      {{protocol}}://{{ip}}:2380{% if not loop.last %},{% endif %}
{%- endfor %}

peer-transport-security:
  cert-file: /etc/etcd/cert/peer/cert.pem
  key-file:  /etc/etcd/cert/peer/cert-key.pem
  client-cert-auth: true
  trusted-ca-file:  /etc/etcd/cert/ca/cert.pem



advertise-client-urls:  {{protocol}}://{{internal_hostname|default(inventory_hostname)}}:2379

listen-client-urls: {{protocol}}://127.0.0.1:2379,{% for ip in ansible_all_ipv4_addresses -%}
      {{protocol}}://{{ip}}:2379{% if not loop.last %},{% endif %}
{%- endfor %}

client-transport-security:
  cert-file: /etc/etcd/cert/server/cert.pem
  key-file:  /etc/etcd/cert/server/cert-key.pem
  client-cert-auth: true
  trusted-ca-file: /etc/etcd/cert/ca/cert.pem
