[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Environment=ETCD_UNSUPPORTED_ARCH=arm
ExecStart=/opt/bin/etcd --config-file /etc/etcd/config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target




