{
  "CN": "{{common_name|default('bearer')}}",

  "hosts": [
{% for hostname in cert_hostnames|default(['localhost', internal_hostname|default(inventory_hostname)])|select('defined') %}
    "{{hostname}}"{% if not loop.last %}, {% endif %}
{%- endfor %}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{country_name|default('US')}}",
      "L": "{{locality|default('Portland')}}",
      "O": "{{organization|default('Kubernetes')}}",
      "OU": "{{organizational_unit|default('CA')}}",
      "ST": "{{state_of_residence|default('Oregon')}}"
    }
  ]
}