# todo command argv

- name: 'set-cluster (1/4) for {{client_name}}'
  # todo remove assumption that worker nodes are the same that controller nodes
  command: >
      /usr/local/bin/kubectl
      config 
      set-cluster
      '{{k8s_cluster_name|default(cluster_name)|default("k8s-cluster")}}'
      '--certificate-authority={{ca_cert|default("/etc/k8s/cert/ca/cert.pem")}}'
      --embed-certs=true
      '--server=https://{{apiserver_hostname if apiserver_hostname|default("")|string|length>0 else "localhost"}}:6443'
      '--kubeconfig={{kubeconfig_file|default("/etc/k8s/" + client_name + ".kubeconfig")}}'

- name: 'set-credentials (2/4) for {{client_name}}'
  command: >
      /usr/local/bin/kubectl
      config 
      set-credentials
      '{{client_name}}'
      '--client-certificate={{client_cert|default(client_cert_dir|default("/etc/k8s/cert/"+client_name) + "/cert.pem")}}'
      '--client-key={{client_key|default(client_cert_dir|default("/etc/k8s/cert/"+client_name) + "/cert-key.pem")}}'
      --embed-certs=true
      '--kubeconfig={{kubeconfig_file|default("/etc/k8s/" + client_name + ".kubeconfig")}}'

- name: 'set-context (3/4) for {{client_name}}'
  command: >
      /usr/local/bin/kubectl
      config
      set-context
      default
      '--cluster={{k8s_cluster_name|default(cluster_name)|default("k8s-cluster")}}'
      '--user={{client_name}}'
      '--kubeconfig={{kubeconfig_file|default("/etc/k8s/" + client_name + ".kubeconfig")}}'

- name: 'use-context (4/4) for {{client_name}}'
  command: >
      /usr/local/bin/kubectl
      config
      use-context
      default
      '--kubeconfig={{kubeconfig_file|default("/etc/k8s/" + client_name + ".kubeconfig")}}'

